<% if team_signed_in?%>
    <% if current_team.admin_flg %>    <h2>大学の登録</h2>
        <div class="container">
            <%= form_for(@university, url: university_pages_path) do |f| %>
                <div class="field">
                    <%= f.label :name,"大学名" %><br />
                    <%= f.text_field :name, autofocus: true, autocomplete: "○○大学" %>
                </div>
                <br/>
                <div>
                    <%= f.submit "登録する" ,class: 'btn btn-primary btn-block'%>
                </div>
            <% end %>
        </div>
    <%else%>
        <h2>404 Page Not Found</h2>
    <%end%>
<%else%>
    <h2>404 Page Not Found</h2>    
<%end%>